html {
  height: 100%;
}
body {
  background: linear-gradient(#EDEDED, #C7C7C7);
  height: 100%;
  overflow: hidden;
}
.container {
  background:white;
    -webkit-background-size: cover;
    background-size: cover;
    position:relative;
    overflow:auto;
    width:1080px;
    margin-left:auto;
    margin-right:auto;
    min-height: 100%;
}
#backgroundColor {
  height:100%;
  overflow:auto;
  background: white center top repeat-y;
}

#cat-list li {
  color: #0033cc;
}

#cat-list li:hover {
  color: #ff0000;
  cursor: pointer;
  text-decoration: underline;
}

#latter-columns {
  display: none;
}

.jumbotron {
  background-repeat: no-repeat;
  background-image: url(hammer1.jpg);
  background-position: top right;

}

#plane {
  position: absolute;
  left: -1000px;
}
.moneh {
  text-align: right;
}
#secret {
  display: none;
}
